.textarea {
  min-height: calc(var(--field-height) + 50px);
  border-radius: var(--border-radius);
  border: var(--field-border);
  padding: 10px 10px;
  outline: 1px solid var(--white);
  transition: 0.1s all;
}

.textarea:focus {
  outline-color: var(--blue);
}

.textarea:not(.textarea:focus) {
  outline-color: var(--white);
}
