.boleta {
  display: none;
  width: 550px;
  border-collapse: collapse;
  border: 2px solid black;
  margin-top: 5px;
  margin-left: 5px;
}

.boleta tr {
  width: 100%;
}

.boleta th,
.boleta td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.boleta th {
  width: 50px;
}

.boleta_title {
  text-align: center !important;
}

@media print {
  .boleta {
    display: block;
  }
}
