.btns_wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ventas_list {
  padding: 0 5%;
}

.ventas_list > li {
  display: flex;
  align-items: center;
  height: 4rem;
  border: 1px solid #cacaca;
  border-left: none;
  border-right: none;
}
